{
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "css",
	"objectWrap": "collapse",
	"printWidth": 100,
	"proseWrap": "always",
	"quoteProps": "consistent",
	"semi": true,
	"singleAttributePerLine": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true
}
